version: '3.8'

services:
  litellm:
    image: ghcr.io/berriai/litellm:main-latest
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - PORT=4000
    volumes:
      - ./litellm_config.yaml:/app/litellm_config.yaml
    command: --config /app/litellm_config.yaml

